/* ---------------------- Estilos Generales ---------------------- */
/* -------- background incendios forestales */
.bg-nar {
    background-color: #ef7323;
  }
  .text-nar {
    color: #ef7323;
  }
  .bellota-rm {
    width: 25px;
    height: 25px;
  } 
  @media (max-width: 767.98px) {
    .bellota-rm {
      display: none;
    }
  }
  .espacio {
    margin-bottom: 100px;
  }
/* -------- Titulo general */
  @media screen and (max-width: 700px) {
    .title-background, .title-post {
      background-position:center; 
      background-attachment:scroll; 
      
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
      
      background-size:cover; 
      background-repeat:no-repeat;
    }
  }
  .title-background, .title-post  {

    background-position:center; 
    background-attachment:scroll; 
    
      -o-background-size:cover; 
      -moz-background-size:cover; 
      -webkit-background-size:cover; 
    
    background-size:cover; 
    background-repeat:no-repeat;
  }


  .title-background .title-general {
    margin: 24vh auto;
  }
/* -------- Footer */
  .espacio-footer {
    margin: 50px;
  }
  @media (min-width: 768px) {
    .espacio-footer {
      margin: 100px 100px;
    }
  }
  .btn-outline-success:hover {
    color: #ffffff;
  }
  .mapa-footer li {
    padding: 5px!important;
    font-size: 14px;
  }
  .mapa-footer li a {
    text-decoration: none!important;
  }

  #contacto-footer li a {
    text-decoration: none;
    color: #94ce58;
  }

  #contacto-footer li:hover {
    background-color: #94ce58;
    color: #fff!important;
  }
  #contacto-footer li:hover a {
    color: #fff!important;
  }

  #contacto-footer li {
    border: 2px solid #94ce58;
    border-radius: 7px;
    padding: 10px;
    margin: 20px auto;
  }
  
/* -------- Logo */
  .logo img {
    width: 138px;
    padding: 5px;
  }
  @media screen and (max-width: 800px) {
    .logo img {
      width: 100px;
    }
  }

/* -------- items menu principal (submenu -- nav-link) */
/* Submenu  */
.menu-item-has-children ul  {
  display: none;
  list-style: none;
  position: absolute;
  cursor: pointer;
  border: 1.6px solid #198754;
  background-color: #fff!important;
  border-radius: 10px;
  padding: 0!important;
}
.nav-link {
  padding-left:10px!important;
  color: #036935!important;
}
.nav-link:hover {
  color: #03693580!important;
}
.menu-item-has-children:hover > ul  {
  display: block!important;
}
.menu-item-has-children ul  .menu-item-object-custom  ul  {
  margin-left: 6px;
  margin-right: 6px;
}
.menu-item-has-children ul  .menu-item-object-custom ul .menu-item ul {
  display: none;
}
.menu-item-has-children ul  .menu-item-object-custom  ul .menu-item:hover > ul {
  display: flex;
  align-items: center;  
}
.menu-item-has-children ul  .menu-item-object-custom  ul .menu-item ul li a:hover {
  background-color: #036935!important;
}
/* menu-principal */
@media (max-width:930px) {
  .buscar-submit{
    font-size: 11px!important;
  }
}

@media (min-width:700px) and (max-width:870px) {
  .nav-link{
    font-size: 12.5px!important;
    padding: 5px 5px 5px 3px!important;
  }
  .buscar {
    font-size: 12px!important;
  }
  .buscar-input-wp {
    height: 20px!important;
  }
  .search-submit {
    height: 20px!important;
    color: #65b492!important;
  }
}

@media (min-width:800px) and (max-width:967px) {
  .nav-link{
    font-size: 13px!important;
  }
  .buscar {
    font-size: 12px!important;
  }
  .buscar-input-wp {
    height: 20px!important;
  }
  .buscar-boton-wp {
    height: 20px!important;
    color: #65b492!important;
  }
  .search-submit {
    color: #65b492!important;
  }
}

@media screen and (max-width:800px) {
  .nav-link {
    padding-left:10px!important;
    color: #036935!important;
  }

  .nav-link:hover {
    color: #03693580!important;
  }

  .menu-item-has-children ul  {
    display: none;
  }

  .menu-item-has-children ul li a {
    color: #65b492;
  }

  .menu-item-has-children ul li:hover > a {
    background-color: #03693580!important;
    color: #fff!important;
    border-radius: 4px!important;
    margin-left: 25px!important;
  }

  .menu-item-object-custom ul li {
    list-style: none;
  }

  .menu-item-has-children ul  .menu-item-object-custom ul  {
    position:relative;
  }

  .menu-item-object-custom ul li::before {
    content: "\1F331";
    position: absolute;
    /* bottom: auto; */
    margin-top: 10px;
    /* color: green; */
    /* display: inline-block; */
    /* width: 8px; */
    /* margin-right: 17px; */
    /* font-weight: bold; */
    font-size: .8rem;
  }
  
  .menu-item-has-children ul li a {
    margin-left: 13px!important;
  }

  .menu-item-has-children:hover > ul  {
    display: block!important;
  }

  .menu-item-has-children ul  .menu-item-object-custom  > ul  {
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .menu-item-object-custom  ul li a {
    color: #65b492!important;
  }
}

@media (min-width:800px) and (max-width:1200px) {
  .menu-item-has-children ul  .menu-item-object-custom ul  {
    position:relative;
  }

  .menu-item-object-custom ul li {
    list-style: none;
  }

  .menu-item-object-custom ul li::before {
    content: "\1F331";
    position: absolute;
    /* bottom: auto; */
    margin-top: 10px;
    /* color: green; */
    /* display: inline-block; */
    /* width: 8px; */
    /* margin-right: 17px; */
    /* font-weight: bold; */
    font-size: .8rem;
  }
  
  .menu-item-has-children ul li a {
    margin-left: 13px!important;
  }

  .menu-item-has-children ul li:hover > a {
    background-color: #03693580!important;
    color: #fff!important;
    border-radius: 10px!important;
  }

}

@media (min-width:1200px)  {
    .menu-item-has-children ul {
      padding: 10px;
    }
    
    .menu-item-object-custom ul li {
      list-style: none;
    }

    .menu-item-object-custom ul li::before {
      content: "\1F331";
      position: absolute;
      margin-top: 10px;
      margin-left: 4px;
      font-size: .8rem;
    }

    .menu-item-has-children ul li a {
      margin-left: 16px!important;
    }

    .menu-item-has-children ul li:hover > a {
      background-color: #03693580!important;
      color: #fff!important;
      border-radius: 10px!important;
    }

    .menu-item-has-children ul  .menu-item-object-custom  > ul  {
      width: 100%;
      left: 375px;
      bottom: 0;
    }

    .menu-item-has-children ul  .menu-item-object-custom ul .menu-item-has-children > ul {
      top: 0;
      left: 365px;
    }
  }

/* #menu-item-362::after{
  content: '\27A1'!important;
  position: absolute!important;
  right: 0;
  top: 0;
  color: #198754;
  font-size: 1.6rem;
}

.menu-item-364::after {
  content: '\27A1'!important;
  position: absolute!important;
  right: 0;
  top: 0;
  color: #198754;
  font-size: 1.6rem;
}
.menu-item-365::after {
  content: '\27A1'!important;
  position: absolute!important;
  right: 0;
  top: 0;
  color: #198754;
  font-size: 1.6rem;
}
.menu-item-366::after {
  content: '\27A1'!important;
  position: absolute!important;
  right: 0;
  top: 0;
  color: #198754;
  font-size: 1.6rem;
}
.menu-item-367::after {
  content: '\27A1'!important;
  position: absolute!important;
  right: 0;
  top: 0;
  color: #198754;
  font-size: 1.6rem;
} */

/* -------- menu llamados a la acción (donar - adopta un arbol - boletín de prensa) */
  .nav-accion {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 900px) {
    .nav-accion {
      justify-content: center;
      top: 89px; 
    }
  }

/* Donar */
  .donar, .adopta, .boletin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:700px) {
    .donar, .adopta, .boletin {
      display: block;
      text-align: center;
    }
    .donar .donar-text, .adopta .adopta-text, .boletin .boletin-text {
      margin-left: 0!important;
    }
  }
  .donar .donar-text, .adopta .adopta-text, .boletin .boletin-text {
    margin-left: 15px;
    margin-top: 10px;
  }
  @media screen and (max-width:500px) {
    .donar .donar-text, .adopta .adopta-text, .boletin .boletin-text {
      margin-left: 5px;
    }
  }
  .donar, .adopta, .boletin {
    text-align: center!important;
  }
  .donar .donar-link {
    color: #ffffff;
    text-decoration: none;
  }
  .donar .donar-text {
    font-size: 16px;
  }
  .donar .donar-link #donar-icon{
    width: 30px;
  }
  @media screen and (max-width: 700px) {
    .donar .donar-text {
      font-size: 12px;
    }
    .donar .donar-link #donar-icon{
      width: 20px;
    }
  }
  @media (min-width:700px) and (max-width: 1300px) {
    .donar .donar-text {
      font-size: 16px;
    }
    .donar .donar-link #donar-icon{
      width: 22px;
    }
  }

/* Adopta */
  .adopta .adopta-link {
    color: #ffffff;
    text-decoration: none;
  }
  .adopta .adopta-text {
    font-size: 16px;
  }
  .adopta .adopta-link #adopta-icon{
    width: 30px;
  }
  @media screen and (max-width: 700px) {
    .adopta .adopta-text {
      font-size: 12px;
    }
    .adopta .adopta-link #adopta-icon{
      width: 20px;
    }
  }
  @media (min-width:700px) and (max-width: 1300px) {
    .adopta .adopta-text {
      font-size: 12px;
    }
    .adopta .adopta-link #adopta-icon{
      width: 22px;
    }
  }

/*Boletín*/
  .boletin .boletin-link {
    color: #ffffff;
    text-decoration: none;
  }
  .boletin .boletin-text {
    font-size: 16px;
  }
  .boletin .boletin-link #boletin-icon{
    width: 30px;
  }
  .boletin .boletin-text {
    text-align: center;
  }
  @media screen and (max-width: 700px) {
    .boletin .boletin-text {
      font-size: 12px;
    }
    .boletin .boletin-link #boletin-icon{
      width: 20px;
    }
  }
  @media (min-width:700px) and (max-width: 1300px) {
    .boletin .boletin-text {
      font-size: 12px;
    }
    .boletin .boletin-link #boletin-icon{
      width: 22px;
    }
  }

/* -------- menu contacto redes sociales (contacto - redes sociales) */  
  .nav-rrss {
    color: #ffffff;
  }
  .nav-rrss .nav-contacto .nav-tel a {
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .nav-rrss .nav-contacto .nav-tel a {
      font-size: 16px;
    }
  }
  .nav-rrss .nav-contacto .nav-email a {
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .nav-rrss .nav-contacto .nav-email a {
      font-size: 16px;
    }
  }
  .nav-red-social {
    margin-left: 15px;
  }
  .nav-red-social .red-social {
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
  }
  @media (min-width: 768px) {espacio-ca
    .nav-red-social .red-social {
      padding: 6px;
    }
  }
  .margen-principal {
    /* margin-top: 8.5rem; */
    height: 20px;
  }
  @media screen and (max-width: 400px) {
    .margen-principal {
      margin-top: 178.47px!important;
    }
  }
  @media (min-width: 400px) and (max-width: 785px) {
    .margen-principal {
        margin-top: 120px!important;
      }
  }
  @media (min-width: 785px) and (max-width:1300px) {
    .margen-principal {
        margin-top: 8.5rem;
      }
  }
  @media (min-width: 1300px) {
    .margen-principal {
        margin-top: 9rem;
      }
  }
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Página Inicio ---------------------- */
/* -------- Carousel */
  .espacio-carousel {
    margin-top: 148px;
  } 
  @media screen and (max-width:500px) {
    .imagen-carousel {
      width: 100%!important;
      height: 100%!important;
    } 
  }
  
  @media (min-width:501px) and (max-width:900px) {
    .imagen-carousel {
      height: 250px!important;
      width: 100%!important;
    } 
  }
  
  @media (min-width: 900px) and (max-width:1300px) {
    .imagen-carousel {
      height: 360px!important;
      width: 100%!important;
    }  
  }
  
  @media (min-width: 1300px) and (max-width:1600px) {
    .imagen-carousel {
      height: 480px!important;
      width: 100%!important;
    }  
  }
  
  @media (min-width: 1600px) and (max-width: 1700px) {
    .imagen-carousel {
      height: 580px!important;
      width: 100%!important;
    }  
  }
  
  @media (min-width: 1700px) {
    .imagen-carousel {
      height: 100%!important;
      width: 100%!important;
    }  
  }

/* -------- Lineas de acción */
/* Titulo lineas de accion */
  .espacio-lineas-accion {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 800px) {
    .espacio-lineas-accion {
      margin-top: 30px;
      margin-bottom: 0px!important;
    }
  }
  
/* row cards lineas de acción */
.espacio-c-l-a {
  margin-top: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .espacio-c-l-a {
    margin-top: 0px!important;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .espacio-c-l-a {
    margin-top: 20px;
  }
}
/* card lineas de acción */
  .espacio-card-lineas {
    margin-top: 60px;
  }
  @media screen and (max-width: 800px) {
    .espacio-card-lineas {
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 1000px) {
    .col-lineas-accion {
      margin-top: 20px;
    } 
  } 
  .linea-accion-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  @media (max-width: 1000px) {
    .linea-accion-img {
      width: 90px;
      height: 90px;
    }
  }
  .card-lineas {
    position: relative;
  }
  .img-lineas {
    position: absolute;
    margin-top: -105px;
  }
  @media screen and (max-width: 1000px) {
    .img-lineas {
      margin-top: -70px;
    }
  }

  /* Sitios de Interés */
  .owl-carousel .owl-item {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
  }

  /* Tamaño imagenes página inicio*/
  .owl-carousel .owl-item img {
    width: 100px!important;
  }

  .owl-prev, .owl-next {
    position: absolute;
    bottom:30%;
  }

  .owl-prev span, .owl-next span {
    font-size: 2.8rem;
    color: rgba(3, 105, 53, .4)!important;
  }

  .owl-prev span:active, .owl-next span:active{
    color: rgba(3, 105, 53, .8)!important;
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }

  .owl-dots {
    display: flex;
    justify-content:center;
    margin-top: 15px;
  }

  .owl-dots .owl-dot {
    margin: 5px!important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(3, 105, 53, .4)!important;
  }

  .owl-dots .active {
    background-color: rgba(3, 105, 53, .8)!important;
  }

  .wrapper .wrapper-list .amere {
    width: 170px!important;
    margin-top: 20px;
    margin-right: 10px;
  }

  .wrapper .wrapper-list .trn {
    width: 170px!important;
    margin-top: 20px;
  }
  .wrapper .wrapper-list .uicn-mexicano {
    width: 160px!important;
  }
  .wrapper .wrapper-list .uicn  {
    width: 90px!important;
  }

  @media screen and (max-width: 600px) {
    .wrapper .wrapper-list .amere {
      margin-top: 10px;
    }
    .wrapper .wrapper-list .trn {
      margin-top: 10px;
    }
    .wrapper .wrapper-list .uicn-mexicano {
      margin-top: 5px;
    }
  }

  /* Tamaño imagenes página empresas */
  .owl-carousel-empresas .owl-item img {
    width: 150px!important;
  }


/* --------  Nuestras Notas */
  .img-nota {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
  .btn-outline-light:hover {
    color: #ffffff;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------ */
  /* ---------------------- Sobre nosotros ---------------------- */
  .quienes-somos-info ul  {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, 0.5) !important;
  }
/* -------- Logros y reconocimientos */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 8px;
    background-color: #5a5a5a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
  }
  .contenedor {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .contenedor::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #ffffff;
    border: 4px solid #5a5a5a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #5a5a5a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #5a5a5a;
  }
  .right {
    left: 50%;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #5a5a5a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5a5a5a transparent transparent;
  }
  .right::after {
    left: -10px;
  }
  
  @media screen and (max-width: 820px) {
    .timeline::after {
      left: 37px;
    }
    .contenedor {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .contenedor::before {
      left: 60px;
      border: medium solid #5a5a5a;
      border-width: 10px 10px 10px 0;
      border-color: transparent #5a5a5a transparent transparent;
    }
    .left::after {
      left: 15px;
    }
    .right::after {
      left: 15px;
    }
    .right {
      left: 0%;
    }
  }
  .content {
    padding: 30px 20px;
    position: relative;
    border-radius: 10px;
  }
  .logros {
    padding: 30px 50px;
  }
  @media screen and (max-width:800px) {
    .logros {
      padding: 30px 20px;
    }
  }
  .linea p {
    margin: 0;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Que hacemos ---------------------- */
  .card-iniciativa {
      height: 300px!important;
  }
  @media (min-width: 500px) and (max-width: 768px) {
    .col-iniciativa {
        display: flex;
        justify-content:center;
        align-items:center;
    }	
  }
  @media (min-width: 500px) and (max-width: 580px) {
    .card-iniciativa {
      width: 75%;
      }
  }
  @media (min-width: 580px) and (max-width: 768px) {
    .card-iniciativa {
      width: 50%;
      }
  }
  .logo-bosques-co {
    margin-top: 6rem;
  }
  .logo-tree-cities {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .logo-d-a {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  #manejo-paisajes, #incidencia-politica, #comunidades-emprendimiento, #sector-privado, #empoderamiento-ciudadano {
    scroll-margin-top: 166px;
  }

  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Que hacemos ---------------------- */
/* -------- Sección B */
  @media screen and (max-width: 600px) {
      .content-logos-b {
          width: 300px;
      }
  }
  .content-logos-b {
      width: 200px;
      height: 150px;
  }
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Nuestras notas ---------------------- */
  .bg-img-nota {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.92;
    transition: opacity 0.3s;
  }
  .bg-img-nota .titulo-nota {
    transition: transform 0.3s;
  }
  .bg-img-nota .titulo-nota:hover {
    transform: scale(0.9);
  }
  .bg-img-nota:hover {
    opacity: unset;
  }
/* -------- painacion */
  .page-link {
    border: 2px solid #65b492!important;
  }
  .page-link, 
  .page-item a {
    color: #65b492!important;
    background-color: #ffffff;
    text-decoration: none;
  }
  .page-link:hover {
    background-color: #65b492!important;
    color: #ffffff!important;
    border-color: #ffffff;
  }

/* -------- sidebar redes sociales */
  .contenedor-responsivo {
    position: relative !important;
    overflow: hidden !important;
  }
  .iframe-responsivo {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
  }
  .frame {
    height: 700px !important;
    margin-top: 20px !important;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Contacto ---------------------- */
  @media screen and (max-width: 500px) {
    .mapa {
      width: 300px;
    }
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Incendios forestales ---------------------- */
  .background-incendios {
    background-color: #e9ecef;
  }
  .video-incendios {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
  }
  .timeline-incendios {
    position: relative;
    margin: auto;
  }
  .timeline-incendios::after {
    content: "";
    position: absolute;
    width: 4px;
    background-color: #ec432c;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: 0px;
  }
  .contenido {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .contenido::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #ffffff;
    border: 2px solid #ec432c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .izquierda {
    left: 0;
    padding: 10px 35px 10px 120px;
  }
  .izquierda::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: 20px;
    border: medium solid #ec432c;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ec432c;
  }
  .derecha {
    left: 50%;
    padding: 10px 120px 10px 35px;
  }
  .derecha::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: 20px;
    border: medium solid #ec432c;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ec432c transparent transparent;
  }
  .derecha::after {
    left: -10px;
  }
  @media screen and (max-width: 820px) {
    .timeline-incendios::after {
      left: 37px;
    }
    .contenido {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .contenido::before {
      left: 60px;
      border: medium solid #ec432c;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ec432c transparent transparent;
    }
    .izquierda::after {
      left: 15px;
    }
    .derecha::after {
      left: 15px;
    }
    .derecha {
      left: 0%;
    }
  }

  .background-acciones {
    height: 450px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .mapa-incendios {
    background-color: #f2f2f2;
    padding: 50px 0 !important;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .calendar {
    margin-top: 50px;
  }
  .evento-activo {
    width: 40px;
    height: 40px;
    background-color: var(--verdeReforestamos) !important;
    color: var(--blanco);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
  }

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Eventos ---------------------- */
  .activo {
    width: 40px;
    height: 40px;
    background-color: var(--blanco);
    color: rgba(3, 105, 53, 0.9) !important;
    border: solid 1px rgba(3, 105, 53, 0.9);
  }
  .cal-btn {
    height: 50px;
    width: 50px;
  }
  .cal-btn:hover {
    background-color: #fff;
  }
  .dias-mes:hover {
    cursor: pointer;
  }
  .dias div:hover:not(.today) {
    border-radius: 50%;
    border-radius: 10px;
    border-radius: 50%;
  }
  .prev-date,
  .next-date {
    color: #c8c8c8;
  }
  .prev-date:hover,
  .next-date:hover {
    color: #c8c8c8;
  }
  .today {
    color: #036935;
    border: 1px solid #036935;
    border-radius: 50%;
    cursor: pointer;
  }
  .today:hover {
    background-color: #036935;
    color:  var(--blanco);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .cal-btn[disabled] {
    border: 0;
    opacity: 0.5;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Documentos ---------------------- */
  .link-documento a {
    text-decoration: none;
    color: #94ce58!important;
  }
  
  .link-documento:hover a {
    color: var(--blanco)!important;
  }
  
  .documentos_link a { 
    color: #94ce58!important;
    text-decoration: none!important;
  }
  
  .wpcf7-form-control-wrap, .form-group label  {
    width: 100%!important;
  }
  
  .text-justify {
    text-align: justify!important;
  }
  
  .espacio-general {
    margin-top: 20px;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Eventos plugin ---------------------- */
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar {
    display: none!important;
  }
  .tribe-events-c-subscribe-dropdown__container {
    display: none!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__body  {
    border-color: #198754!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day {
    border-color: #198754!important;
  }
  .tribe-events-c-top-bar__datepicker-time {
      color: #036935!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week {
    border-color: #198754!important;
  }
  .tribe-events .tribe-events-calendar-month__day-date-daynum {
    color: #036935;
  }
  .tribe-events .tribe-events-calendar-month__day-cell--selected, .tribe-events .tribe-events-calendar-month__day-cell--selected:focus, .tribe-events .tribe-events-calendar-month__day-cell--selected:hover  {
    background-color: #f8f9f3!important;
    color: #fff!important;
  }
  .tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    background-color: #036935!important;
  }
  .tribe-common-c-btn-border-small {
    display: none!important;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-btn-border-small, .tribe-common--breakpoint-medium.tribe-common a.tribe-common-c-btn-border-small {
    display: none!important;
}
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- buscador wordpress ---------------------- */
  .search-submit {
    border: 1px solid #65b492!important;
    background: #65b492!important;
    color: #fff!important;
    border-radius: 7px;
    padding: 2px;
  
    transition: 0.2s;
  }  
  .search-submit:hover {
    background-color: #fff!important;
    color: #65b492!important;
  }
  .buscar-input-wp {
    padding: 2px;
    border: 1px solid #ccc!important;
    color: #a0a0a0!important;
    border-radius: 8px;
    transition: 0.2s;
    outline: none!important;
    width: 200px!important;
    height: 30px;
  }
  @media screen and (max-width: 700px) {
    .buscar-input-wp {
        max-width: 150px;
    }
}
  .buscar-input-wp:focus {
    border-color: #65b492!important;
  }

/* Ejemplo Enfoque sistémico de las iniciativas */
.modal-nave-nodriza {
    
  opacity: 1;
}

.nave-nodriza-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.nave-nodriza-info {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity .6s;
}

.b-n-n {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .9s;
}

.nave-nodriza-info .uno, .nave-nodriza-info .dos, .nave-nodriza-info .tres, .nave-nodriza-info .cuatro, .nave-nodriza-info .cinco {
  position: absolute;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: solid 1.5px #036935 ;
  border-radius: 50%;
  box-shadow:  20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff;
  color: #036935!important;
  background-color: #d3efe3!important;
}

.uno, .dos, .tres, .cuatro, .cinco {

}

.nave-nodriza-info .uno {
  top: 31.5%;
  left: 11.2%;
}

.nave-nodriza-info .dos {
  bottom: 18.8%;
  left: 46.2%;
}

.nave-nodriza-info .tres {
  top: 38.4%;
  left: 44.2%;
}

.nave-nodriza-info .cuatro {
  top: 3.5%;
  left: 44.6%;
}

.nave-nodriza-info .cinco {
  top: 32%;
  left: 29.3%;
}

.nave-nodriza-alert {
  background-color: #d3efe3!important;
}

.info-nave{ 
  opacity: 1;
  transition: opacity .6s;
}

.nave-nodriza-alert .info-nave-1, .nave-nodriza-alert .info-nave-2, .nave-nodriza-alert .info-nave-3, .nave-nodriza-alert .info-nave-4 , .nave-nodriza-alert .info-nave-5 {
  position: absolute;
}

.info-nave-1 {
  top: 26%;
  left: 16.5%;
  right: 10%;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(148, 206, 88, .9)!important;
  transition: ease .5s;
}

.info-nave-1::before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  top: 20px;
  width: 0;
  z-index: 1;
  
  border: medium solid #94ce58;
  border-width: 10px 10px 10px 0;
  border-color: transparent #94ce58 transparent transparent;
}

.info-nave-2 {
  bottom: 5.9%;
  left: 51.5%;
  right: 4%;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #9f6cc5!important;
  transition: ease .5s;
}

.info-nave-2:before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  bottom: 50px;
  width: 0;
  z-index: 1;
  
  border: medium solid #9f6cc5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #9f6cc5 transparent transparent;
}

.info-nave-3 {
  top: 10%;
  left: 50%;
  right: 3%;
  padding: 8px;
  border-radius: 8px;
  background-color: #f5d138!important;
  transition: ease .5s;
}

.info-nave-3::before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  top: 100px;
  width: 0;
  z-index: 1;
  
  border: medium solid #f5d138;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f5d138 transparent transparent;
}

.info-nave-4 {
  top: 1%;
  left: 50%;
  right: 2%;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #4674c1!important;
  transition: ease .5s;
}

.info-nave-4::before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  top: 7px;
  width: 0;
  z-index: 1;
  
  border: medium solid #4674c1;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4674c1 transparent transparent;
}

.info-nave-5 {
  top: 28%;
  left: 35%;
  right: 10%;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  background-color: #ef7323!important;
  transition: ease .5s;
}
.info-nave-5::before {
  content: " ";
  height: 0;
  position: absolute;
  left: -10px;
  top: 15px;
  width: 0;
  z-index: 1;
  
  border: medium solid #ef7323;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ef7323 transparent transparent;
}

.content-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;

  transition: ease .7s;
}

.nave-close {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: bold;
  padding: 5px;

  transition: ease .7s;

}

.nave-close:hover {
  background-color: #fff!important;
  color: #dc3545!important;
}

.display-none {
  opacity: 0;
  display: none;
  transition:  opacity .6s;
}

.cursor-pointer {
  cursor: pointer!important;
}

.item-modelos {
  background-color: rgba(148, 206, 88, 1)!important;
  color: #fff;
  font-size: 1rem;
}
.item-politicas {
  background-color: rgba(159, 108, 197, 1)!important;
  color: #fff;
  font-size: 1rem;
}
.item-emprendimiento {
  background-color: rgba(245, 209, 56, .7)!important;
  color: #fff;
  font-size: 1rem;

}
.item-privado {
  background-color: rgba(70, 116, 193, .7)!important;
  color: #fff;
  font-size: 1rem;

}
.item-ciudadano {
  background-color: rgba(239, 115, 35, .7)!important;
  color: #fff;
  font-size: 1rem; 
}