/* ---------------------- Estilos Generales ---------------------- */
/* -------- background incendios forestales */
.bg-nar {
    background-color: #ef7323;
  }
  .text-nar {
    color: #ef7323;
  }
  .bellota-rm {
    width: 25px;
    height: 25px;
  } 
  @media (max-width: 767.98px) {
    .bellota-rm {
      display: none;
    }
  }
  .espacio {
    margin-bottom: 100px;
  }
/* -------- Titulo general */
  @media screen and (max-width: 700px) {
    .title-background, .title-post {
      background-position:center; 
      background-attachment:scroll; 
      
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
      
      background-size:cover; 
      background-repeat:no-repeat;
    }
  }
  .title-background, .title-post  {

    background-position:center; 
    background-attachment:scroll; 
    
      -o-background-size:cover; 
      -moz-background-size:cover; 
      -webkit-background-size:cover; 
    
    background-size:cover; 
    background-repeat:no-repeat;
  }


  .title-background .title-general {
    margin: 24vh auto;
  }
/* -------- Footer */
  .espacio-footer {
    margin: 50px;
  }
  @media (min-width: 768px) {
    .espacio-footer {
      margin: 100px 100px;
    }
  }
  .btn-outline-success:hover {
    color: #ffffff;
  }
  .mapa-footer li {
    padding: 5px!important;
  }
  .mapa-footer li a {
    text-decoration: none!important;
  }

  #contacto-footer li a {
    text-decoration: none;
    color: #94ce58;
  }

  #contacto-footer li:hover {
    background-color: #94ce58;
    color: #fff!important;
  }
  #contacto-footer li:hover a {
    color: #fff!important;
  }

  #contacto-footer li {
    border: 2px solid #94ce58;
    border-radius: 7px;
    padding: 10px;
    margin: 20px auto;
  }
  
/* -------- Logo */
  .logo img {
    width: 158px;
    padding: 5px;
  }
  @media screen and (max-width: 800px) {
    .logo img {
      width: 100px;
    }
  }

/* -------- items menu principal (submenu -- nav-link) */
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 120%;
    top: -10px;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
/* Submenu  */
  .menu-item-has-children ul  {
    display: none;
    list-style: none;
    position: absolute;
    cursor: pointer;
    background-color: #ffffff;
    border: 1.6px solid var(--bs-light);
    border-radius: 10px;
    padding: 0!important;
  }

  .menu-item-has-children:hover > ul  {
    display: block!important;
  }
  .menu-item-has-children ul .menu-item-has-children li {
    background: none!important;
  }
  .menu-item-has-children ul  .menu-item-object-custom  > ul  {
    color: #0d6efd!important;
    width: 100%;
    left: 318px;
    bottom: 10px;
  }

  .nav-link {
    padding: 5px!important;
  }

/* -------- menu llamados a la acción (donar - adopta un arbol - boletín de prensa) */
  .nav-accion {
    position: fixed;
    top: 108px;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  @media screen and (max-width: 800px) {
    .nav-accion {
      justify-content: center;
      top: 74px;
    }
  }
  .donar .donar-link {
    color: #ffffff;
    text-decoration: none;
  }
  @media (max-width: 1300px) {
    .donar .donar-text {
      display: none;
    }
  }
  .adopta .adopta-link {
    color: #ffffff;
    text-decoration: none;
  }
  @media (max-width: 1300px) {
    .adopta .adopta-text {
      display: none;
      font-size:10px;
    }
  }
  .boletin .boletin-link {
    color: #ffffff;
    text-decoration: none;
  }
  .boletin .boletin-text {
    text-align: center;
  }
  @media (max-width: 1300px) {
    .boletin .boletin-text {
      display: none;
      font-size: 10px;
    }
  }

/* -------- menu contacto redes sociales (contacto - redes sociales) */  
  .nav-rrss {
    color: #ffffff;
  }
  .nav-rrss .nav-contacto .nav-tel a {
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .nav-rrss .nav-contacto .nav-tel a {
      font-size: 16px;
    }
  }
  .nav-rrss .nav-contacto .nav-email a {
    color: #ffffff;
    font-size: 11px;
    text-decoration: none;
  }
  @media (min-width: 768px) {
    .nav-rrss .nav-contacto .nav-email a {
      font-size: 16px;
    }
  }
  .nav-red-social {
    margin-left: 15px;
  }
  .nav-red-social .red-social {
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
  }
  @media (min-width: 768px) {espacio-ca
    .nav-red-social .red-social {
      padding: 6px;
    }
  }
  .margen-principal {
    margin-top: 8.125rem;
      height: 20px;
  }
  @media (min-width: 300px) and (max-width: 700px) {
    .margen-principal {
        margin-top: 120px!important;
      }
  }
  @media (min-width: 700px) and (max-width:1300) {
    .margen-principal {
        margin-top: 7.4rem;
      }
  }

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Página Inicio ---------------------- */
/* -------- Carousel */
  .espacio-carousel {
    margin-top: 148px;
  } 

/* -------- Lineas de acción */
/* Titulo lineas de accion */
  .espacio-lineas-accion {
    margin-top: 70px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 800px) {
    .espacio-lineas-accion {
      margin-top: 30px;
      margin-bottom: 0px!important;
    }
  }
  
/* row cards lineas de acción */
.espacio-c-l-a {
  margin-top: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .espacio-c-l-a {
    margin-top: 0px!important;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .espacio-c-l-a {
    margin-top: 20px;
  }
}
/* card lineas de acción */
  .espacio-card-lineas {
    margin-top: 70px;
  }
  @media screen and (max-width: 800px) {
    .espacio-card-lineas {
      margin-top: 100px;
    }
  }
  @media screen and (max-width: 1000px) {
    .col-lineas-accion {
      margin-top: 20px;
    } 
  } 
  .linea-accion-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  @media (max-width: 1000px) {
    .linea-accion-img {
      width: 90px;
      height: 90px;
    }
  }
  .card-lineas {
    position: relative;
  }
  .img-lineas {
    position: absolute;
    margin-top: -105px;
  }
  @media screen and (max-width: 1000px) {
    .img-lineas {
      margin-top: -70px;
    }
  }
  
/* -------- Sitios de Interés */
  .wrapper {
    width: 100%;
  }
  .wrapper .wrapper-list {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;
  }
  .wrapper .wrapper-list .slide-item {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    background: #fff;
    padding: 5px;
    height: auto;
    max-width: 160px;
  }
  .wrapper .wrapper-list .slide-item a {
    text-decoration: none;
    color: #333;
  }
  .wrapper .wrapper-list .slide-item img {
    max-width: 100%;
    max-height: 100%;
  }
  @media screen and (max-width: 600px) {
    .wrapper .wrapper-list .slide-item {
      margin: 30px auto;
    }
  }
  .wrapper .wrapper-list .amere {
    width: 300px !important;
    margin-top: 52px;
    margin-right: 10px;
  }
  @media screen and (max-width: 600px) {
    .wrapper .wrapper-list .amere {
      margin-top: 10px;
    }
  }
  .wrapper .wrapper-list .trn {
    width: 300px;
    margin-top: 16px;
  }
/*------------ carousel sitios interés - empresas */
  .owl-dots {
    display: none!important;
    text-align: center;
    margin-left: 40px;
  }
  
  .owl-dot {
    height: 10px;
    width: 10px;
    margin: 15px 5px !important;
    border: 1px solid #65b492!important;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: flex!important;
    justify-content: space-around!important;
  }
  .owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    color: #94ce58!important;
    font-size: 3rem!important;
    display: inline-block;
    position: absolute;
    margin-top: -130px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 10px!important;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: 10px!important;
  }
  @media (min-width: 768px) {
    .owl-dot {
      margin: 20px auto;
    }
  }
  .owl-dots {
    margin: 0px auto;
  }
  @media screen and (max-width:1000px) {
      .owl-dots {
          display: none;
      }
  }
  .owl-dot:hover,
  .owl-dot.active {
    background: #65b492!important;
  }

/* --------  Nuestras Notas */
  .img-nota {
    height: 20rem;
    width: 100%;
    object-fit: contain;
  }
  .btn-outline-light:hover {
    color: #ffffff;
  }
  
  /* ------------------------------------------------------------------------------------------------------------------------------------ */
  /* ---------------------- Sobre nosotros ---------------------- */
  .quienes-somos-info ul  {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, 0.5) !important;
  }
/* -------- Logros y reconocimientos */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
  }
  .timeline::after {
    content: "";
    position: absolute;
    width: 8px;
    background-color: #5a5a5a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
  }
  .contenedor {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .contenedor::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #ffffff;
    border: 4px solid #5a5a5a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #5a5a5a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #5a5a5a;
  }
  .right {
    left: 50%;
  }
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #5a5a5a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5a5a5a transparent transparent;
  }
  .right::after {
    left: -10px;
  }
  
  @media screen and (max-width: 820px) {
    .timeline::after {
      left: 37px;
    }
    .contenedor {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .contenedor::before {
      left: 60px;
      border: medium solid #5a5a5a;
      border-width: 10px 10px 10px 0;
      border-color: transparent #5a5a5a transparent transparent;
    }
    .left::after {
      left: 15px;
    }
    .right::after {
      left: 15px;
    }
    .right {
      left: 0%;
    }
  }
  .content {
    padding: 30px 20px;
    position: relative;
    border-radius: 10px;
  }
  .logros {
    padding: 30px 50px;
  }
  @media screen and (max-width:800px) {
    .logros {
      padding: 30px 20px;
    }
  }
  .linea p {
    margin: 0;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Que hacemos ---------------------- */
  .card-iniciativa {
      height: 300px!important;
  }
  @media (min-width: 500px) and (max-width: 768px) {
    .col-iniciativa {
        display: flex;
        justify-content:center;
        align-items:center;
    }	
  }
  @media (min-width: 500px) and (max-width: 580px) {
    .card-iniciativa {
      width: 75%;
      }
  }
  @media (min-width: 580px) and (max-width: 768px) {
    .card-iniciativa {
      width: 50%;
      }
  }
  .logo-bosques-co {
    margin-top: 6rem;
  }
  .logo-tree-cities {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .logo-d-a {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Que hacemos ---------------------- */
/* -------- Sección B */
  @media screen and (max-width: 600px) {
      .content-logos-b {
          width: 300px;
      }
  }
  .content-logos-b {
      width: 200px;
      height: 150px;
  }
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Nuestras notas ---------------------- */
/* --------  */
  .bg-img-nota {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.92;
    transition: opacity 0.3s;
  }
  .bg-img-nota .titulo-nota {
    transition: transform 0.3s;
  }
  .bg-img-nota .titulo-nota:hover {
    transform: scale(0.9);
  }
  .bg-img-nota:hover {
    opacity: unset;
  }
/* -------- painacion */
  .page-link {
    border: 2px solid #65b492!important;
  }
  .page-link, 
  .page-item a {
    color: #65b492!important;
    background-color: #ffffff;
    text-decoration: none;
  }
  .page-link:hover {
    background-color: #65b492!important;
    color: #ffffff!important;
    border-color: #ffffff;
  }

/* -------- sidebar redes sociales */
  .contenedor-responsivo {
    position: relative !important;
    overflow: hidden !important;
  }
  .iframe-responsivo {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
  }
  .frame {
    height: 700px !important;
    margin-top: 20px !important;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Contacto ---------------------- */
  @media screen and (max-width: 500px) {
    .mapa {
      width: 300px;
    }
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Incendios forestales ---------------------- */
  .background-incendios {
    background-color: #e9ecef;
  }
  .video-incendios {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
  }
  .timeline-incendios {
    position: relative;
    margin: auto;
  }
  .timeline-incendios::after {
    content: "";
    position: absolute;
    width: 8px;
    background-color: #ec432c;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
  }
  .contenido {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  .contenido::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: #ffffff;
    border: 4px solid #ec432c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  .izquierda {
    left: 0;
    padding: 10px 35px 10px 120px;
  }
  .izquierda::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    right: 20px;
    border: medium solid #ec432c;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #ec432c;
  }
  .derecha {
    left: 50%;
    padding: 10px 120px 10px 35px;
  }
  .derecha::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 15px;
    width: 0;
    z-index: 1;
    left: 20px;
    border: medium solid #ec432c;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ec432c transparent transparent;
  }
  .derecha::after {
    left: -10px;
  }
  @media screen and (max-width: 820px) {
    .timeline-incendios::after {
      left: 37px;
    }
    .contenido {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
    .contenido::before {
      left: 60px;
      border: medium solid #ec432c;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ec432c transparent transparent;
    }
    .izquierda::after {
      left: 15px;
    }
    .derecha::after {
      left: 15px;
    }
    .derecha {
      left: 0%;
    }
  }

  .background-acciones {
    height: 450px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .mapa-incendios {
    background-color: #f2f2f2;
    padding: 50px 0 !important;
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .calendar {
    margin-top: 50px;
  }
  .evento-activo {
    width: 40px;
    height: 40px;
    background-color: var(--verdeReforestamos) !important;
    color: var(--blanco);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
  }

/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Eventos ---------------------- */
  .activo {
    width: 40px;
    height: 40px;
    background-color: var(--blanco);
    color: rgba(3, 105, 53, 0.9) !important;
    border: solid 1px rgba(3, 105, 53, 0.9);
  }
  .cal-btn {
    height: 50px;
    width: 50px;
  }
  .cal-btn:hover {
    background-color: #fff;
  }
  .dias-mes:hover {
    cursor: pointer;
  }
  .dias div:hover:not(.today) {
    border-radius: 50%;
    border-radius: 10px;
    border-radius: 50%;
  }
  .prev-date,
  .next-date {
    color: #c8c8c8;
  }
  .prev-date:hover,
  .next-date:hover {
    color: #c8c8c8;
  }
  .today {
    color: #036935;
    border: 1px solid #036935;
    border-radius: 50%;
    cursor: pointer;
  }
  .today:hover {
    background-color: #036935;
    color:  var(--blanco);
  }
  
  .cal-month,
  .cal-days,
  .cal-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }
  .cal-month-name {
    grid-column-start: 2;
    grid-column-end: 7;
    text-align: center;
  }
  
  .cal-weekday,
  .cal-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0;
  }
  
  .cal-btn:not([disabled]) {
    font-weight: 500;
  }
  
  .cal-btn:hover,
  .cal-btn:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .cal-btn[disabled] {
    border: 0;
    opacity: 0.5;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Documentos ---------------------- */
  .link-documento a {
    text-decoration: none;
    color: #94ce58!important;
  }
  
  .link-documento:hover a {
    color: var(--blanco)!important;
  }
  
  .documentos_link a { 
    color: #94ce58!important;
    text-decoration: none!important;
  }
  
  .wpcf7-form-control-wrap, .form-group label  {
    width: 100%!important;
  }
  
  .text-justify {
    text-align: justify!important;
  }
  
  .espacio-general {
    margin-top: 20px;
  }
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- Eventos plugin ---------------------- */
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-c-events-bar {
    display: none!important;
  }
  .tribe-events-c-subscribe-dropdown__container {
    display: none!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__body  {
    border-color: #198754!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day {
    border-color: #198754!important;
  }
  .tribe-events-c-top-bar__datepicker-time {
      color: #036935!important;
  }
  .tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week {
    border-color: #198754!important;
  }
  .tribe-events .tribe-events-calendar-month__day-date-daynum {
    color: #036935;
  }
  .tribe-events .tribe-events-calendar-month__day-cell--selected, .tribe-events .tribe-events-calendar-month__day-cell--selected:focus, .tribe-events .tribe-events-calendar-month__day-cell--selected:hover  {
    background-color: #f8f9f3!important;
    color: #fff!important;
  }
  .tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    background-color: #036935!important;
  }
  .tribe-common-c-btn-border-small {
    display: none!important;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-c-btn-border-small, .tribe-common--breakpoint-medium.tribe-common a.tribe-common-c-btn-border-small {
    display: none!important;
}
  
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------------- buscador wordpress ---------------------- */
  .search-submit {
    border: 1px solid #65b492!important;
    background: #65b492!important;
    color: #fff!important;
    border-radius: 7px;
    padding: 5px;
  
    transition: 0.2s;
  }  
  .search-submit:hover {
    background-color: #fff!important;
    color: #65b492!important;
  }
  .buscar-input-wp {
    padding: 5px;
    border: 2px solid #ccc!important;
    color: #a0a0a0!important;
    border-radius: 10px;
    transition: 0.2s;
    outline: none!important;
    width: 90%!important;
  }
  @media screen and (max-width: 700px) {
      .buscar-input-wp {
          max-width: 80%;
      }
  }
  .buscar-input-wp:focus {
    border-color: #65b492!important;
  }

  